@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.scss';
@import '../app/movie-carousel/movie-carousel.component.scss';
@import '../app/custom-video/custom-video.component.scss';
@import '../app/home/home.component.scss';
@import '../app/resume/resume.component.scss';

.modal-open .modal {
    z-index: 1000 !important;
}

  :host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: #182f38;
  }