<!-- <div class="player-wrapper">

    <h3>Simple Video Player</h3>
    <vg-player>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
    


        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
    
    
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
    
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>


      <video #media id="singleVideo" preload="auto" controls>s
        <source src="https://www.ibrahimabah.com/ibfilms/Harry.Potter-The.Ultimate.Collection.%20I%20-%20VIII%20.%202001-2011.1080p.Bluray.x264.anoXmous/Harry%20Potter%203/Harry.Potter.And.The.Prisoner.Of.Azkaban.2004.UEE.1080p.Bluray.x264.anoXmous_.mp4" type="video/mp4">
      </video>
    </vg-player>

  </div> -->




<!-- 
  <section class="container">
    <input type="checkbox" id="replay">
    <label for="replay" class="control-button --play">
        Play
        <div class="control-button__sub">
            the animation
        </div>
    </label>
    <label for="replay" class="control-button --reload">
        Reload
        <div class="control-button__sub">
            click here to reset the animation
        </div>
    </label>

    <div class="logo">
        <div class="uno"></div>
        <div class="due"></div>
        <div class="tre"></div>
    </div>
</section> -->



<div id="container" [ngClass]="animationDone ? 'animation-done' : ''">
    <!-- Edit the letter attr to: N, E, T, F, L, I or X -->
       <div id="netflixintro" letter="N">
        <div class="helper-1">
          <div class="effect-brush">
            <span class="fur-31"></span>
            <span class="fur-30"></span>
            <span class="fur-29"></span>
            <span class="fur-28"></span>
            <span class="fur-27"></span>
            <span class="fur-26"></span>
            <span class="fur-25"></span>
            <span class="fur-24"></span>
            <span class="fur-23"></span>
            <span class="fur-22"></span>
            <span class="fur-21"></span>
            <span class="fur-20"></span>
            <span class="fur-19"></span>
            <span class="fur-18"></span>
            <span class="fur-17"></span>
            <span class="fur-16"></span>
            <span class="fur-15"></span>
            <span class="fur-14"></span>
            <span class="fur-13"></span>
            <span class="fur-12"></span>
            <span class="fur-11"></span>
            <span class="fur-10"></span>
            <span class="fur-9"></span>
            <span class="fur-8"></span>
            <span class="fur-7"></span>
            <span class="fur-6"></span>
            <span class="fur-5"></span>
            <span class="fur-4"></span>
            <span class="fur-3"></span>
            <span class="fur-2"></span>
            <span class="fur-1"></span>
          </div>
          <div class="effect-lumieres">
            <span class="lamp-1"></span>
            <span class="lamp-2"></span>
            <span class="lamp-3"></span>
            <span class="lamp-4"></span>
            <span class="lamp-5"></span>
            <span class="lamp-6"></span>
            <span class="lamp-7"></span>
            <span class="lamp-8"></span>
            <span class="lamp-9"></span>
            <span class="lamp-10"></span>
            <span class="lamp-11"></span>
            <span class="lamp-12"></span>
            <span class="lamp-13"></span>
            <span class="lamp-14"></span>
            <span class="lamp-15"></span>
            <span class="lamp-16"></span>
            <span class="lamp-17"></span>
            <span class="lamp-18"></span>
            <span class="lamp-19"></span>
            <span class="lamp-20"></span>
            <span class="lamp-21"></span>
            <span class="lamp-22"></span>
            <span class="lamp-23"></span>
            <span class="lamp-24"></span>
            <span class="lamp-25"></span>
            <span class="lamp-26"></span>
            <span class="lamp-27"></span>
            <span class="lamp-28"></span>
          </div>
        </div>
        <div class="helper-2">
          <div class="effect-brush">
            <span class="fur-31"></span>
            <span class="fur-30"></span>
            <span class="fur-29"></span>
            <span class="fur-28"></span>
            <span class="fur-27"></span>
            <span class="fur-26"></span>
            <span class="fur-25"></span>
            <span class="fur-24"></span>
            <span class="fur-23"></span>
            <span class="fur-22"></span>
            <span class="fur-21"></span>
            <span class="fur-20"></span>
            <span class="fur-19"></span>
            <span class="fur-18"></span>
            <span class="fur-17"></span>
            <span class="fur-16"></span>
            <span class="fur-15"></span>
            <span class="fur-14"></span>
            <span class="fur-13"></span>
            <span class="fur-12"></span>
            <span class="fur-11"></span>
            <span class="fur-10"></span>
            <span class="fur-9"></span>
            <span class="fur-8"></span>
            <span class="fur-7"></span>
            <span class="fur-6"></span>
            <span class="fur-5"></span>
            <span class="fur-4"></span>
            <span class="fur-3"></span>
            <span class="fur-2"></span>
            <span class="fur-1"></span>
          </div>
        </div>
        <div class="helper-3">
          <div class="effect-brush">
            <span class="fur-31"></span>
            <span class="fur-30"></span>
            <span class="fur-29"></span>
            <span class="fur-28"></span>
            <span class="fur-27"></span>
            <span class="fur-26"></span>
            <span class="fur-25"></span>
            <span class="fur-24"></span>
            <span class="fur-23"></span>
            <span class="fur-22"></span>
            <span class="fur-21"></span>
            <span class="fur-20"></span>
            <span class="fur-19"></span>
            <span class="fur-18"></span>
            <span class="fur-17"></span>
            <span class="fur-16"></span>
            <span class="fur-15"></span>
            <span class="fur-14"></span>
            <span class="fur-13"></span>
            <span class="fur-12"></span>
            <span class="fur-11"></span>
            <span class="fur-10"></span>
            <span class="fur-9"></span>
            <span class="fur-8"></span>
            <span class="fur-7"></span>
            <span class="fur-6"></span>
            <span class="fur-5"></span>
            <span class="fur-4"></span>
            <span class="fur-3"></span>
            <span class="fur-2"></span>
            <span class="fur-1"></span>
          </div>
        </div>
        <div class="helper-4">
          <div class="effect-brush">
            <span class="fur-31"></span>
            <span class="fur-30"></span>
            <span class="fur-29"></span>
            <span class="fur-28"></span>
            <span class="fur-27"></span>
            <span class="fur-26"></span>
            <span class="fur-25"></span>
            <span class="fur-24"></span>
            <span class="fur-23"></span>
            <span class="fur-22"></span>
            <span class="fur-21"></span>
            <span class="fur-20"></span>
            <span class="fur-19"></span>
            <span class="fur-18"></span>
            <span class="fur-17"></span>
            <span class="fur-16"></span>
            <span class="fur-15"></span>
            <span class="fur-14"></span>
            <span class="fur-13"></span>
            <span class="fur-12"></span>
            <span class="fur-11"></span>
            <span class="fur-10"></span>
            <span class="fur-9"></span>
            <span class="fur-8"></span>
            <span class="fur-7"></span>
            <span class="fur-6"></span>
            <span class="fur-5"></span>
            <span class="fur-4"></span>
            <span class="fur-3"></span>
            <span class="fur-2"></span>
            <span class="fur-1"></span>
          </div>
        </div>
    </div>
    </div> 

<div class="video-player">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <!-- <vg-overlay-play></vg-overlay-play> -->
    <vg-overlay-play vgFor="my-video"></vg-overlay-play>

    <vg-buffering vgFor="my-video"></vg-buffering>

    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time> 
    </vg-scrub-bar>



    <vg-controls [vgAutohideTime]="5">
        
        <div class="left-container">
            <vg-play-pause></vg-play-pause>
            <!-- <vg-fullscreenButton></vg-fullscreenButton> -->
            <!-- subtitles -->
            <!-- <vg-track-selector></vg-track-selector> -->
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-playback-button></vg-playback-button>
            
        </div>

    <div class="right-container">
        <vg-text src="../../assets/1.vtt"></vg-text>
        <vg-track-selector></vg-track-selector>
        <vg-fullscreen></vg-fullscreen>
    </div>        
    
    </vg-controls>

    <video [vgMedia]="$any(media)" #media id="my-video" preload="true" autoplay="true">
        <!-- <source src="https://www.ibrahimabah.com/ibfilms/Harry.Potter-The.Ultimate.Collection.%20I%20-%20VIII%20.%202001-2011.1080p.Bluray.x264.anoXmous/Harry%20Potter%203/Harry.Potter.And.The.Prisoner.Of.Azkaban.2004.UEE.1080p.Bluray.x264.anoXmous_.mp4" type="video/mp4"> -->
        <source src={{url}} type="video/mp4" >
        <track src="https://www.opensubtitles.com/download/7426D24AF0A06812DAB3E66B08330FFE196D9A55EE6B8E32FB4C85A4329F1669276E68048B38ABE4EEAB60F8CB97BC7C0E2057BFB590F56BB67D9BCD657F12B2CC5F89B92CAC316584BBEBB3B2CA24806E31379F4EAD8968532843A8C64BFCD389EC6B85A0B0C81F4DD2A50915B1F440144746DB2BBB0AB2CDF99D776FF65373CEDB22A0084874BD20BDD07FC472DA40474315AD66D6838C8DD1E6B70CF3B92080BF670B4069EB03BA30AE85D3C0ED552508B149462A4425FCC1D076EDBDDA89477464B90BDB9028E883B628F55342FE0285412380CB3D3ADED1D56A9BFAFCB3E26054F7355E42F0AA7EA7CCB0A0FF340214FADC9FF340F43B7ACA8A8C1CFE87FEB5235C39EC6D83D76F83E7530C14B226C81C1CCC723BFCE1687C744E98A0CCD8BB5760238D0782/subfile/castle.rock.s01e03.webrip.x264-tbs.ettv.-eng.ro.webvtt" kind="subtitles" srclang="en" label="English" type="text"/>
    </video>
</vg-player>
</div>