#todo {
  list-style: none;
  padding: 3%;
  margin: 10px;
  width: 40%;
  float: left;
  border: 2px solid #eee;
  background: #75a6b5;
}

#done{
  list-style: none;
  padding: 3%;
  margin: 10px;
  width: 40%;
  float: right; /*The float CSS property specifies that an element should be taken from the normal flow and placed along the left or right side of its container, where text and inline elements will wrap around it.*/
  border: 1px solid #eee;
  background: #d29d5e;
}
