
<div class="movie-carouesl">
    <div class="movie-category">All Movies</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="data" class="movie-carousel"></app-movie-carousel>
</div>

<div class="movie-carouesl">
    <div class="movie-category">Action</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="moviesByAction" class="movie-carousel"></app-movie-carousel>
</div>

<div class="movie-carouesl">
    <div class="movie-category">Adventure</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="moviesByAdventure" class="movie-carousel"></app-movie-carousel>
</div>

<div class="movie-carouesl">
    <div class="movie-category">Comedy</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="moviesByComedy" class="movie-carousel"></app-movie-carousel>
</div>

<div class="movie-carouesl">
    <div class="movie-category">Drama</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="moviesByDrama" class="movie-carousel"></app-movie-carousel>
</div>

<div class="movie-carouesl">
    <div class="movie-category">Thriller</div>
    <app-movie-carousel *ngIf="getMoviesLoaded" [data]="moviesByThriller" class="movie-carousel"></app-movie-carousel>
</div>



<!-- <app-custom-video></app-custom-video>  -->

<!-- <app-modal></app-modal> -->
