.movie {

    &-category {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 4rem;
        position: relative;
        top: 2rem;
    }
}

.page-heading {
    color: red;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}